<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>tweets:</strong>
  </p>

<p>
  <table>
    <tr><td>content</td></tr>
      <% @user.tweets.each do |tweet|%>
    <tr><td><%= tweet.comment %><td><tr>
  <%end %>
</table>


</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
